__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
venv/
.env/
*.env
.ipynb_checkpoints/
.vscode/
.idea/
docker-compose.override.yml
docker-compose.yml
*.log
*.sqlite
*.db
*~ 
*.swp
*.log
*.bak
*.tmp

