# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual Environment (Python venv)
venv/
.env/
*.env

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Docker
docker-compose.override.yml
docker-compose.yml
*.log


# Environment-specific files
*.sqlite
*.db

# IDE & Editor backups
*~ 
*.swp

# Miscellaneous
*.log
*.bak
*.tmp

# OS-specific files

